/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Bootstrap classes */

.navbar-default {
	background-color: #D35400;
	border-color: #D35400;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-header > .navbar-brand {
	color: whitesmoke;
}

.navbar-header > .navbar-brand:hover {
	color: whitesmoke;
}

/* Buttons */

.btn-home {
	color: white;
	background-color: #D35400;
	border-color: #D35400;
	border-radius: 0 0 0 0;
}

.btn-home:hover {
	color: white;
	background-color: #E67E22;
	border-color: #E67E22;
}

.btn-danger {
	border-radius: 0 0 0 0;
}

/*flash*/

#notice-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999999;
	/*background: rgba(248, 148, 6, .85);*/
}

div > ul > li {
	list-style-type: none;
}

.alert-error, .alert-alert, .alert-success, .alert-notice {
	border-radius: 0 0 0 0;
	border-style: none;
	padding: 2.5rem 0;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: 1px;
}

.alert-error {
  background: rgba(239, 72, 54, .85);
}

.alert-alert {
  background: rgba(239, 72, 54, .85);
}

.alert-success {
  background: rgba(248, 148, 6, .85);
}

.alert-notice {
  background: rgba(248, 148, 6, .85);
}